{
  "plugins": ["prettier-plugin-organize-imports"],
  "quoteProps": "consistent",
  "htmlWhitespaceSensitivity": "strict",

  "singleQuote": true,
  "eslintIntegration": true,
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "endOfLine": "auto",
  "jsxBracketSameLine": false,
  "arrowParens": "avoid"
}
